{% include 'mainsite/header.html' %}

<section class="py-lg-10 py-8 bg-white">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8 col-md-12 col-12 mb-12">
          <!-- caption-->
          <h1 class="display-2 fw-bold mb-3">Hi there, we're <span class="text-primary">EdCEPT</span></h1>
          <!-- para -->
          <p class="fs-4 mb-4">At Edcept, we believe in transforming education through personalized learning experiences that empower individuals to excel in the ever-evolving world of technology. Established in 2020.</p>
          <p class="fs-4 mb-4">Our mission is to provide quality education and personalized mentoring to a diverse audience. We specialize in offering complete live classes with small batch sizes, ensuring that every learner receives focused attention. With a comprehensive range of skill development courses, including Python, JAVA, HTML, CSS, DATA Science, AI/ML, and many more cutting-edge technological skills, we cater to working professionals, graduate students, lifelong learners, and trainers..</p>
          <p class="fs-4 mb-4">Our unique approach involves multi-dimensional instructors with hands-on experience from industry giants like Microsoft and Google. We take pride in maintaining the highest standards by offering personalized teaching, one-on-one mentoring, and career-focused counseling. By embracing a student-centered ethos, we ensure that our learners not only gain technical proficiency but also receive guidance in making informed career shifts.</p>
        </div>
      </div>
      <!-- gallery -->
    
    </div>
  </section>
  <!-- features -->
  <section class="py-lg-16 py-10">
    <div class="container">
      
      <div class="row">
        <div class="col-md-4 col-12">
          <!-- card -->
          <div class="card mb-4 mb-lg-0">
            <!-- card body -->
            <div class="card-body p-5">
              <!-- icon -->
              <div class="mb-3"><i class="mdi mdi-school-outline mdi-48px text-primary lh-1 "></i></div>
              <h3 class="mb-2">Certified Professional Courses</h3>
              <p class="mb-0">We offer courses designed by industryexpert best suited for the professional in their career.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <!-- card -->
          <div class="card mb-4 mb-lg-0">
            <!-- card body -->
            <div class="card-body p-5">
              <!-- icon -->
              <div class="mb-3"><i class="mdi mdi-account-group mdi-48px text-primary lh-1 "></i></div>
              <h3 class="mb-2">Job Placement Assistance</h3>
              <p class="mb-0">Our courses comprise of job assistance programes and also mock interview under the guidance of industry experts.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <!-- card -->
          <div class="card mb-4 mb-lg-0">
            <!-- card body -->
            <div class="card-body p-5">
              <!-- icon -->
              <div class="mb-3"><i class="mdi mdi-finance mdi-48px text-primary lh-1 "></i></div>
              <h3 class="mb-2">Salary Hike</h3>
              <p class="mb-0">We work on individuals skills, practical knowledge alongwith multi dimesions industry based projects which result in exponential salary hike for them.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% include 'mainsite/footer.html'%}