{% load static %}
<!-- footer -->
<!-- footer -->
<footer class="pt-lg-10 pt-5 footer bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- about company -->
                <div class="mb-4">
                    <img src="{% static 'assets/images/brand/logo/logo.svg' %}" alt="" class="logo-inverse "
                        style="height: 70px; ">
                    <div class="mt-4">
                        <p>The right combination of skill based and practical learning prepares the students for the
                            future.</p>
                        <!-- social media -->
                        <div class="fs-4 mt-4">
                            <a href="https://www.facebook.com/people/Edcept/100083698576651/"
                                class="mdi mdi-facebook fs-4 text-muted me-2"></a>
                            <a href="https://twitter.com/edcept" class="mdi mdi-twitter text-muted me-2"></a>
                            <a href="https://www.instagram.com/edcept1/" class="mdi mdi-instagram text-muted me-2"></a>
                            <a href="https://www.linkedin.com/in/edcept-learning-44588b1b9/"
                                class="mdi mdi-linkedin text-muted "></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <div class="mb-4">
                    <!-- list -->
                    <h3 class="fw-bold mb-3">Company</h3>
                    <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
                        <li><a href="/about" class="nav-link">About</a></li>
                        <li><a href="#" class="nav-link">Courses</a></li>
                        <!-- <li><a href="#" class="nav-link">Blog</a></li> -->
                        <!-- <li><a href="#" class="nav-link">Careers</a></li> -->
                        <li><a href="/contact" class="nav-link">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <div class="mb-4">
                    <!-- list -->
                    <h3 class="fw-bold mb-3">Support</h3>
                    <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
                        <li><a href="/terms" class="nav-link">Terms & Conditions</a></li>
                        <li><a href="/privacy" class="nav-link">Privacy & Policy</a></li>
                        <li><a href="Refund.html" class="nav-link">Cancellations & Refund</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <!-- contact info -->
                <div class="mb-4">
                    <h3 class="fw-bold mb-3">Get in touch</h3>
                    <p>C-108 Mohan Garden Vill Nawada Pole Delhi West Delhi 110059 India</p>
                    <p class="mb-1">Email: <a href="#">Info@edcept.com, Info.edcept@gmail.com</a></p>

                    <p>Mobile: <span class="text-dark fw-semibold">+91 8800224328, +91 8920718184</span></p>

                </div>
            </div>
        </div>
        <div class="row align-items-center g-0 border-top py-2 mt-6">
            <!-- Desc -->
            <div class="col-lg-4 col-md-5 col-12">
                <span>© <span id="copyright2">
                        <script>document.getElementById('copyright2').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                    </span> Edcept Learning Private Limited</span>
            </div>

            <!-- Links -->
            <!-- <div class="col-12 col-md-7 col-lg-8 d-md-flex justify-content-end">
            <nav class="nav nav-footer">
              <a class="nav-link ps-0" href="Privacy.html">Privacy Policy</a>
              <a class="nav-link px-2 px-md-3" href="#">Cookie Notice </a>
  
              <a class="nav-link" href="Term.html">Terms of Use</a>
            </nav>
          </div> -->
        </div>
    </div>
</footer>
<!-- Scripts -->
<script src="{% static 'assets/libs/typed.umd.js' %}"></script>
<!-- Libs JS -->
<script src="{% static 'assets/libs/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{% static 'assets/libs/simplebar.min.js' %}"></script>


<!-- Theme JS -->
<script src="{% static 'assets/js/theme.min.js' %}"></script>

<script src="{% static 'assets/libs/tiny-slider.js' %}"></script>
<script src="{% static 'assets/libs/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/tippy-bundle.umd.min.js' %}"></script>

<script src="{% static 'assets/js/vendors/tnsSlider.js' %}"></script>
<script src="{% static 'assets/js/vendors/tooltip.js' %}"></script>

</body>

</html>